<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoA3"
        tools:targetApi="31">
        <activity
            android:name=".Activities.ActLogin"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ProjetoA3.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".Activities.registrar.ActInfoUsuario"
            android:theme="@style/Theme.ProjetoA3.NoActionBar">
        </activity>

        <activity
            android:name=".Activities.ActMenu"
            android:theme="@style/Theme.ProjetoA3.NoActionBar">
        </activity>

        <activity
            android:name=".Activities.registrar.ActInfoSenha"
            android:theme="@style/Theme.ProjetoA3.NoActionBar">
        </activity>

        <activity
            android:name=".Activities.ActCarrinho"
            android:theme="@style/Theme.ProjetoA3.NoActionBar">
        </activity>

        <activity
            android:name=".Activities.ActCompras"
            android:theme="@style/Theme.ProjetoA3.NoActionBar">
        </activity>

        <activity
            android:name=".Activities.ActComprasProdutos"
            android:theme="@style/Theme.ProjetoA3.NoActionBar">
        </activity>

    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>