* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background-image: url('../img/backgroundHome.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}