@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');


:root {
    --fonte-principal: 'Roboto', sans-serif;
    --fonte-logo: 'Teko', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

nav {
    background-image: linear-gradient(to right, #24688d, #032c42);
    display: flex;
    align-items: center;
    justify-content: center;
}

nav > button {
    background-color: transparent;
    border: none;
    color: white;
    
}

nav > button > span {
    
    font-size: 60px !important; 
}

nav > h1{
    text-align: center;
    flex: 1;
    transform: translate(-25px, 0px);
    font-family: var(--fonte-principal); 
    color: white;
    font-size: 30px;
 }
 
 nav > h1 > span.logo {
     font-size: 35px;
     font-family: var(--fonte-logo);
 }

nav > ul {
    display: none;
    position: absolute;
    background-color: #0c4767;
    left: 0%;
    top: 60px;
    height: calc(100vh - 60px);
    width: 50vw;
    text-align: center;
}

nav > ul > li {
    padding: 25px;
}

nav > ul > li > a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

