@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');


:root {
    --fonte-principal: 'Roboto', sans-serif;
    --fonte-logo: 'Teko', sans-serif;
}

*{  
    z-index: 5;
    margin: 0px;
    padding: 0px;
}

.preenchido {

  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24

}

nav {
    background-image: linear-gradient(to right, #24688d, #032c42);
}

nav > ul.menuResponsivo{
    display: none;
}

nav > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav > div > button {    
    padding-right: 10px;
    background-color: transparent;
     border: none; 
    color: white;
    cursor: pointer;
   
}

nav > div > button > span {
    font-size: 60px !important; 
}

nav > div > h1{
    text-align: center;
    flex: 1;
    transform: translate(-25px, 0px);
    font-family: var(--fonte-principal); 
    color: white;
    font-size: 30px;
 }
 
 nav > div > h1 > span.logo {
     font-size: 35px;
     font-family: var(--fonte-logo);
 }

nav > div > ul {
    display: none;
    position: absolute;
    background-color: #0c4767;
    left: 0%;
    top: 60px;
    height: calc(100vh - 60px);
    width: 75vw;
    text-align: center;
}

nav > div > ul > li {
    cursor: pointer;
    padding: 25px;
}

nav > div > ul > li > a {
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

nav > ul > li > a > span {
    transform: translateY(3px);
}

nav > ul > li > a > span.power {
    color: red !important;
    transform: translateY(5px);
}

nav > ul > li:hover {
   
    background-color: white;
    
}


