* {
    margin: 0px;
    padding: 0px;
}


body {
    height: 100vh;
    background-image: url('../img/backgroundHome.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

div.bloco > h2 { 
    text-align: center;
    margin: 20px 0px;
}

div.bloco {
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-125px, -100px);
    width: 250px;
    height: 200px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.484);
}

div.bloco > p {
    margin: 80%;
}
